body{
  
    margin: 0;

    padding: 0;

    font-family: Georgia, 'Times New Roman', Times, serif;

    

}

header{

    display: flex;

    flex-direction: row;

    background-color: black;

    margin: auto;

    padding: 10px;

    justify-content: end;

}

header a{

  margin: 20px;

  text-decoration: none;

  color: aliceblue;
}



h1 {

    margin: 150px ;
}

.Home , .Aboutme{

    display: flex;

    flex-direction: row;

    margin: 20px;

}

.Home {

    background-color: violet;

    margin: 0;

    height: 500px;
}

.portfolio {

    height: 500px;

    background-color: violet;

    margin: 0;
}

.foto2{

    border-radius: 40px;
}

.foto2 img{

    border-radius: 40px;
}

.carrossel-container {
   
    width: 100%;
   
    overflow: hidden;

  
}

.carrossel {
    
    display: flex;

    margin: 140px 50px;

    transition: transform 0.7s ease-in-out;

}

.secao{
    
    flex: 1;
   
    background-color: #fff;
  
    padding: 20px;
   
    margin-right: 20px;

    box-sizing: border-box;

    border-radius: 10px;

    

}

.secao h3 {

    text-align: center;

    color: black;
}

.secao a{

    text-decoration: none;

    margin: auto;

    padding: auto;

    color: black;
}

.secao img{

    margin: 0 8%;

    border-radius: 20px;
}

.CONTACT, .EXPLORE {

    display: inline-block; 
   
    padding: 10px 15px; 
  
    border: 2px solid violet; 
   
    border-radius: 5px; 
    
    color: violet; 

    margin: 10px;

}

.Aboutme{

    margin-top: 5%;

}

.Aboutme p, h2{

    margin: 10px 120px;

}

.foto2 {

    background-color: violet;

    padding: 20px ;

    margin-top: 10px ;

    margin-left: 120px;

}

.Formacao {

    background-color: white;

    margin-top: 10%;
    
    height: 200px;

    text-align: center;
}

.Contact {

    background-color: black;

    padding: 40px;

    color: white;

    display: flex;

    flex-direction: row;
}



.info-container {
    
    display: flex;
    
    align-items: center;

}

.info-container img {
   
    border: 2px solid white;
    
    border-radius: 10px;
   
    margin-right: 10px;

    margin-left: 120px;
    

}

.info-container p {

    margin: 0;

}


.Contact h2 {

    color: violet;
}

.SocialMedia{

    margin: 0 auto;

}

.SocialMedia img {

    margin-left: 20px;
}

.SocialMedia a {

    text-decoration: none;
}

#experience-section {

    display: flex;
   
    flex-wrap: wrap;
    
    justify-content: space-around;
    
    margin: 0 auto;
   
    height: 500px;
    
}


.experience-item {

    text-align: center;

    margin: 30px;

    padding: 10px;

    margin-left: 90px;


}

.experience-item img {

    width: 50px; 

    height: 50px; 

}

.Experience h2 {

    text-align: center;

    padding: auto;

    margin-left: 40%;
    
    margin-right: 40%;

    font-size: 40px;

    font-family:Arial, sans-serif;
}


footer {
   
    background-color: black; 
   
    color: white;
   
    text-align: center;
   
    padding: 5px;
  
    position:relative;
   
    bottom: 0; 

}